# Node
node_modules/
npm-debug.log*
package-lock.json

# Env
.env
www/.env
# Backend
backend_python/
# Capacitor
android/build/
android/app/build/
android/.gradle/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
venv/

# Logs
*.log
